* {
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: center;
}

body {
    background-image: url(website-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 150px;
    display: inline-block;
    color: #000000;
}


.pengunjung_layout {
    margin: auto ;
    padding-bottom: 50px; 
    width: 80%;
    display: block;
    overflow: hidden;
    background-color: #ffffff;
}


/* .main .search {
    position: relative;
    margin: 0 auto;
    min-width: 85%;
    height: 53px;
    background: #D9D9D9;
}

.main .search input[type="text"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.main input {
    float: right;
    width: 167px;
    height: 30px;
    border-radius: 40px;
    background-color: #ffffff;
} */

.tempatWisata_atas{
    height: 50px;
    background-color: #8bf9fd;
}
.search-container {
    display: flex;
    justify-content: right;
    position: relative;
    margin: 0 auto;
    min-width: 85%;
    height: 53px;
}

.search-container input[type="text"] {
    position: center;
    float: center;
    width: 200px;
    height: 25px;
    border-radius: 40px;
    border-color: #989898;
    background-color: #ffffff;
    right: 0;
    text-indent: 5px;
    margin-right: 10px;
}

form {
  display: flex;
  align-items: center;
}

.tempatWisata_isi{
    display: flex;
    width: 100%;
    height: 300px;
}

.tempatWisata_gambar{
    width: 360px;
    margin-left: 30px;
    margin-top: 30px;
}
.tempatWisata_isi img {
    width: 360px;
    height: 240px;
    left: 150px;
    top: 291px;
}

.namaTempatWisata{
    height: 60px;
    margin: auto;
}

.tempatWisata_isi .keterangan {
    display: flex-wrap;
    width: 1000px;
    color: #000000;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
}

.keterangan .informasi{
    text-align: left;
}

.tempatWisata_isi h2 {
    font-size: 50px;

}

.keterangan .informasi p{
    font-size: 30px;
}

deskripsi-box h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.deskripsi-box {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    color: #000000;
}

.review_layout {
    margin-left: 30px;
    margin-right: 30px;
 
}

.input_review{
    height: 100px;
}

.input_data label{
    text-align: left;
}


.masukan_review form{
    display: block;
    text-align: left;
}

.masukan_review .input_data {
    margin-top: 10px;
    display: grid;
}

.masukan_review .input_nama{
    width: 250px;
}

.btn-kembali {
    outline: none;
    position: absolute;
    width: 150px;
    padding: 10px;
    left: 85%;
    top: 720px;
    border-radius: 20px;
    background-color: #FFFFEB;
}

.btn-tiket {
    outline: none;
    position: absolute;
    width: 150px;
    padding: 10px;
    right: 80%;
    top: 720px;
    border-radius: 20px;
    background-color: #FFFFEB;
}

.btn_klik {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

thead {
    background-color: #ADD8E6;
    color: #ffffff;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ADD8E6;
    color: #ffffff;
}
