body, html {
    height: 100%;
    margin: 0px;
  }
  
.bg {
    /* The image used */
    background-image: url("website-background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    }

a{
	text-decoration: none;
}

/*registrasi dan login*/

.login_layout{
    margin: auto;
    margin-top: 200px;
    width: 500px;
}

.daftar_layout{
    margin: auto;
    margin-top: 100px;
    width: 500px;
}

.login, .daftar{
    display: grid;
}

.input_data{
    display: grid;
    text-align: center;
}

.login-teks, .daftar-teks{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.daftar .daftar-teks{
    font-size: 40px;
    margin-bottom: 25px;
}
.input_id, .input_pass{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

button{
    margin-top: 40px;
}

.btn_submit{
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    background-color: #dcf6fe;
    font-size: 24px;
    font-weight: bold;
    margin-right: 25px;
    margin-left: 25px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    z-index: 9999;
    display: none;
  }
  /* CSS untuk blur overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
  }
  /* CSS untuk tombol close */
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .alert-daftar {
    padding: 20px;
    background-color: rgb(9, 222, 90);
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }

  .alert-login {
    padding: 20px;
    background-color: #ff5959;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }
  
  
  